{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's encrypt!</title>
    
    <link rel="stylesheet" href="{% static 'secret/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'secret/encrypt.png' %}" type="image/png">
</head>
<body>
    
    <header class="topbar">
        <h1>3-n-c-r-y-p-t-0-r</h1>
    </header>

    <form method="get" class="encryptForm">

        <textarea name="encryptedText" id="encrypted" cols="30" rows="10" class="textBox" placeholder="Saída" readonly></textarea>

        <div class="formActions">
            <select name="type" id="codeMethod" class="choiceBox">
                <option value="decode">Decodificar</option>
                <option value="encode">Codificar</option>
            </select>
            <button formaction="http://127.0.0.1:8000/password-genenator/?format=json&type=encode" class="button">submit</button>
            <select name="" id="" class="choiceBox">
                <option value="">Criptografia</option>
            </select>
        </div>
    </form>
    
    <footer class="credits">
        <p>
            <h3>
        FrontEnd por: 
        <a href="mailto:elielson7756@gmail.com"><h2>Elielson Urbano</h2></a>
            </h3>
    	</p>

        <p>
            <h3>
               BackEnd por: 
        <a href="mailto:"><h2>Jackson Serafim</h2></a>
            </h3>
        </p>
    </footer>
    <script src="{% static 'secret/js/script.js' %}"></script>
</body>
</html>