* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    text-align: center;
    height: 100%;
    margin: 0px;
    background: linear-gradient(to bottom right, #112235, #0ffff8 180%) no-repeat;
}

.navegacao {
    color: rgb(227, 242, 255);
    height: 5%;
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
    background: linear-gradient(to right, #0d4c6b 1%,  #0984ae, #0d4c6b 100%);
    border-bottom: 2px #17314e solid;
    padding: 2px 0px 10px 0px;
}

.navegacao h1{
    right: 50%;
    margin: 5px;
    background-color: #0d4c6b11;
    text-shadow: 4px 7px 6px #112235;
    text-align: center;
}

.navegacao h1 div {
    display: inline;
    padding: 0px 20px;
    border-radius: 20px;
    animation: navText;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.encryptForm {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #112235, #0d4c6b);
}

.encryptForm h2 {
    color: #5c89bd;
    background-color: #112235;
    border-radius: 20px;
}

.caixaDeTexto {
    align-self: center;
    margin: 3px 0px 0px 0px;
    resize: none;
    flex-grow: 0.5;
    border: solid #0d4c6b;
}

.botao {
    border-radius: 30px;
    align-self: center;
    width: 190px;
    margin: 20px 0px;
    background-color: #213144;
    box-shadow: 2px 3px 8px 3px rgb(15, 15, 15);
}

.botao:active {
    box-shadow: none;
}

.credits {
    height: 13%;
    background-color: aliceblue;
}

.credits h2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    bottom: 0px;
    font-size: medium;
}

/*.color1 {color: #112235;}
.color2 {color: #0d4c6b;}
.color3 {color: #0984ae;}
.color4 {color: #03c8f8;}
.color5 {color: #0ffff8;}*/

@keyframes navText{
    0%{background: linear-gradient(to right, #112235, #112235, #112235, #112235, #112235);}
    20%{background: linear-gradient(to right, #112235, #112235, #112235, #112235, #0d4c6b);}
    40%{background: linear-gradient(to right, #112235, #112235, #112235, #0d4c6b, #112235 );}
    60%{background: linear-gradient(to right, #112235, #112235, #0d4c6b, #112235, #112235);}
    80%{background: linear-gradient(to right, #112235, #0d4c6b, #112235, #112235, #112235);}
    100%{background: linear-gradient(to right, #0d4c6b, #112235, #112235,  #112235, #112235);}

}
