:root {
    --c1: #112235;
    --c2: #56cac6;
    --c3: #7fa4b383;
    --c4: #222222;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    margin: 0px;
    background: linear-gradient(30deg, var(--c1) 50%, var(--c2) 51%) no-repeat;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--c1);
    margin: 0px;
    text-shadow:2px 2px 1px var(--c2);
    font-weight: 800;
}

h2 {
    margin: 0px;
    color: #56cac6;
}

h3 {
    font-size: 130%;
    margin: 2px;
    padding: 5px;
    background-color: var(--c1);
    border-radius: 20px;
    border: 1px solid var(--c4);
    box-shadow: 2px 2px 6px var(--c4);
}

.topbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    color: var(--c4);
    text-align: center;
    padding: 8px 0px;
    background-color: var(--c3);
    border-bottom: solid var(--c1);
    border-radius: 0px 0px 5px 5px;
}

.encryptForm {
    margin-top: 10px;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.textBox {
    width: 300px;
    height: 200px;
    resize: none;
    background-color: var(--c4);
    color: var(--c2);
    padding: 5px;
    border-radius: 5px;
}

.formActions {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.choiceBox {
    background-color: var(--c2);
    font-weight: 600;
    border-radius: 15px;
}

.button {
    background-color: var(--c1);
    color: var(--c2);
    padding: 3px;
    border: 2px solid var(--c4);
    border-radius: 5px;
    box-shadow:2px 1px 3px #5ddfda;
}

.credits {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    border-top: 1px solid var(--c4);
    background-color: var(--c3);
}

@media(max-width: 580px) {
    .credits>* {
        font-size: 14px;
    }
}